FLASK_APP=app.py
FLASK_SECRET_KEY=change-me
GEMINI_API_KEY=<APIKEY>
GEMINI_MODEL=gemini-2.5-flash-image
PLOTTER_SERIAL_PORT=/dev/tty.usbserial-11140
PLOTTER_BAUDRATE=115200
PLOTTER_SERIAL_TIMEOUT=5.0
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta
GEMINI_TIMEOUT=60
PLOTTER_DRY_RUN=false
PLOTTER_INVERT_Z=true
PLOTTER_LINE_DELAY=0.1

